/* Variables
-------------------------------------------------------------- */

$text-primary: #1C1C1C;
$white: #fff;
$black: #000000;
$color-main: #98BC2A; 
$color-primary: #1C1C1C;
$border-light: #E7E7E7; 
$background-light: #F7F7F7; 
$background-blue: #D8E2EA; 
$background-be: #F3F7EE; 
$center: center;
$color-hover: #98BC2A;
$color-hover-opacity: #50611D;
$color-secondary: #4B4B4B;
$color-muted: #9FA1A4;
$color-primary-2: #98BC2A;
$color-green: #4518CC;

$w100: 100%;
$font-main-1: "Manrope", sans-serif;
$font-main-2: "Albert Sans", sans-serif;
 