// Assets
@use './abstracts/index' as *;
@use './reset' as *;
@use './component/index' as *;
@use './inner-page' as *;
@use './reponsive' as *;

body {
    padding-top: 0; // Header sẽ fixed nên không cần padding

    .fixed-header-primary {
        height: 500px;
        background-color: $color-primary    ;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }
}

html {
    &.fake-overflow-primary {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background-color: $color-primary;
            z-index: 999999;
        }
    }
}

.text-white {
    color: $white;
}

.text-primary {
    color: $color-primary;
}

.h-706 {
    height: 706px;
} 

.h-800 {
    height: 800px;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-color-blur {
    border-color: rgba(255, 255, 255, 0.1);
}

.bg-white {
    background-color: $white;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.align-middle {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}  

.hidden {
    display: none;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.margin-auto {
    margin: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.divider {
    height: 1px;
    background: $border-light;
}

.divider {
    height: 1px;
    background: $border-light;
}

.divider-vertical {
    width: 1px;
    background-color: rgba(255, 255, 255, 0.15); 
}

.divider-vertical-style2 {
    width: 1px;
    background: #D9D9D9;
}

.divider-vertical-style3 {
    width: 1px;
    background: $border-light;
}

.divider-vertical-style4 {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}

.divider-blur {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}


.font-weight-600 {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-secondary {
    color: $color-secondary;
}

.tf-spacing {
    height: 100px;
}

.tf-spacing-style2 {
    height: 90px;
}

.tf-spacing-style3 {
    height: 80px;
}

.tf-spacing-style4 {
    height: 60px;
}

.tf-spacing-style5 {
    height: 70px;
}

.max-w-min {
    max-width: fit-content;
}

.grid {
    display: grid;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gap-30 {
    gap: 30px;
}

.gap-32 {
    gap: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-8 {
    margin-bottom: 8px;
}

.pb-8 {
    padding-bottom: 8px;
}

.ml-4 {
    margin-left: 4px;
}

.bg-primary-2 {
    background-color: $color-primary-2;
}

.bg-green {
    background-color: $color-green;
}

.text-muted {
    color: $color-muted;
}

.text-underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.gap-5 {
    gap: 5px;
}

.gap-8 {
    gap: 8px;
}

.w-20 {
    width: 20px;
}

.w-28 {
    width: 28px;
}

.h-28 {
    height: 28px;
}

.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

.w-48 {
    width: 48px;
}

.h-48 {
    height: 48px;
}

.h-20 {
    height: 20px;
}

.h-22 {
    height: 22px;
}

.gap-50 {
    gap: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  

.overlay-parallax {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 1;
}

.index-1 {
    z-index: 1;
}

.index-2 {
    z-index: 2;
}

.index-10 {
    z-index: 10;
}

.index-20 {
    z-index: 20;
}

.background-light {
    background-color: $background-light;
} 

.background-be {
    background-color: $background-be;
}

.p-40 {
    padding: 40px;
}

.radius-12 {
    border-radius: 12px;
}

.gap-10 {
    gap: 10px;
}

.gap-12 {
    gap: 12px;
}

.gap-15 {
    gap: 15px;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-4 {
    grid-column: span 4;
}

.scroll-tab {
    width: calc(100% - 30px);
}

.max-w-628 {
    max-width: 628px;
    width: 100%;
}


.bg-primary {
    background-color: $color-primary;
}

.border-light {
    border: 1px solid #E7E7E7;
} 
.bg-blur { 
    background: #FFFFFF1A;

}

.border-blur { 
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.border-top-none {
    border-top: none;
}

.clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.clamp-1 {
    -webkit-line-clamp: 1;
}

.clamp-2 {
    -webkit-line-clamp: 2;
}

.clamp-3 {
    -webkit-line-clamp: 3;
}

.text-xs {
    font-size: 12px;
    line-height: 1.67;
}

.text-sm {
    font-size: 14px;
    line-height: 22px;
}

.overflow-x {
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.min-w-max {
    min-width: max-content;
} 

.h-40 {
    height: 40px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-40 {
    border-radius: 40px;
}

.radius-100 {
    border-radius: 100px;
}

.text-highlight {
    color: $color-hover;
}

.bg-highlight {
    background-color: $color-hover;
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.visible {
    overflow: visible !important;
}


.font-weight-500 {
    font-weight: 500;
}

.gap-124 {
    gap: 124px;
}

.gap-130 {
    gap: 130px;
}

.z-index-2 {
    z-index: 2;
}

.gap-x-30 {
    column-gap: 30px;
}

.gap-x-60 {
    column-gap: 60px;
}

.gap-x-16 {
    column-gap: 16px;
}

.gap-y-8 {
    row-gap: 8px;
}

.gap-y-16 {
    row-gap: 16px;
}

.gap-y-20 {
    row-gap: 20px;
}

.gap-y-24 {
    row-gap: 24px;
}

.gap-x-12 {
    column-gap: 12px;
}

.gap-x-20 {
    column-gap: 20px;
}

.gap-y-38 {
    row-gap: 38px;
}

.gap-x-23 {
    column-gap: 23px;
}

.gap-y-30 {
    row-gap: 30px;
}
.gap-y-40 {
    row-gap: 40px;
}

.gap-y-60 {
    row-gap: 40px;
}

.gap-y-39 {
    row-gap: 39.5px;
}

.gap-y-41 {
    row-gap: 41px;
}

.gap-6 {
    gap: 6px;
}

.gap-7 {
    gap: 7px;
}

.gap-13 {
    gap: 13px;
}

.gap-16 {
    gap: 16px;
}   

.gap-18 {
    gap: 18px;
}

.text-center {
    text-align: center;
}

.gap-20 {
    gap: 20px;
}

.gap-60 {
    gap: 60px;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.object-cover {
    object-fit: cover;
}

.background-blue {
    background-color: $background-blue;
}

.unset-select { 
    user-select: none;
}


/* Scroll Top
-------------------------------------------------------------- */
// #scroll-top
.progress-bars {
    .progress-bars-line {
        display: block;
        height: 10px;
        border-radius: 10px;
        background-color: $white;

        >div {
            position: relative;
            display: block;
            height: 10px;
            border-radius: 10px;
            background-color: $color-hover;

            .progress-bars-number {
                position: absolute;
                right: -3px;
                top: -30px;
            }
        }
    }
}

.progress-wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
    box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.2);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    background: $color-hover;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress-wrap-icon {
        height: 20px;
        width: 20px;
        position: absolute;
        color: $white;
        z-index: 1;
        -webkit-transition: all 400ms linear;
        -o-transition: all 400ms linear;
        transition: all 400ms linear;
    }

    &.active-progress {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    svg {
        path {
            fill: none;
        }

        &.progress-circle {
            path {
                box-sizing: border-box;
                stroke: $white;
                stroke-width: 4;
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;
                transition-duration: 0.4s;
                transition-timing-function: linear;
            }
        }
    }
}


/* MAP */
.mark-price { 
    box-shadow: 0 0 0 4px #F15B281A; 
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: $color-primary;
    background-color: $white;
    border-radius: 100px;
    padding: 8px 16px;
    position: relative;
    min-width: fit-content;
}
.map-marker-container {
    position: absolute;
    margin-top: 10px;
    transform: translate3d(-50%, -100%, 0);
}

.marker-container {
    position: relative;
    top: 25px;
    left: 10px;
    width: 46px;
    height: 46px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    -webkit-perspective: 1000;
}

.face {
    position: absolute;
    z-index: 100;
}

.infoBox-opened { 

    .mark-price {
        box-shadow: 0 0 0 4px $color-hover;  
    }
}
 
#singleListingMap .marker-container {
    cursor: default;
}

.marker-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
}

#map .infoBox {
    margin-left: 245px;
    margin-bottom: -200px;
}

.map-listing-item {
    position: relative; 

    .location-info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        img {
            width: 16px;
            height: 16px;
        }

        .location {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            line-height: 22px;
            color: $text-primary;
        }
    }

    .view-details {
        display: flex;
        align-items: center;
        height: 22px;
        gap: 4px;
        font-size: 14px;
        line-height: 22px;
    }
}

.map-listing-item .inner-box {
    position: relative;
    border-radius: 16px;
    max-width: 240px;
    overflow: hidden;
    background-color: $white;

    .infoBox-close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        cursor: pointer;
        border: none;
        padding: 0;
        
        img {
            width: 20px;
            height: 20px;
            display: block;
        }
        
        &:hover {
            opacity: 0.8;
        }
    }
}

.map-listing-item img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.map-listing-item .content {
    position: relative;
    padding: 12px 14px;
    border: 1px solid $border-light;
    border-top: none;
}   

.cluster-map-visible {
    text-align: center;
    font-size: 16px !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    background-color: #14a077;
    border: 7px solid rgba(25, 103, 210, 0.2);
    box-shadow: 0 7px 30px rgba(33, 33, 33, 0.3);
    box-sizing: content-box;
    background-clip: content-box;
}


.object-fit-cover {
    object-fit: cover;
}
 

.z-98 {
    z-index: 98;
}

.iframe-video {
    border: none;
    width: 100%;
    min-height: 400px;
    height: 100%;
    width: 100%;
}
