@use '../abstracts/index' as *;

/* Footer
-------------------------------------------------------------- */
.footer {
    position: relative;

    &.bg-dark {
        background-color: #18191B;
    }

    .footer-top {
        padding-top: 80px;
        padding-bottom: 72px;
    }

    .footer-bottom {
        padding: 17px 0;
    }

    .footer-bottom-links {
        display: flex;
        align-items: center;
        > li {
            position: relative;
            margin-left: 8px;
            padding-left: 12px;
            &:not(:first-child) {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8px;
                    width: 2px;
                    height: 12px;
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
            
            > a {
                font-size: 14px;   
                line-height: 22px;
                color: $color-muted;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .logo {
        height: 54px;
        margin-bottom: 22px;
    }

    .footer-links {
        padding-left: 45px;
        padding: 0 6px 0 45px;
    }

    .footer-contact {
        padding-left: 110px;
    }

    input {
        height: 56px;
        box-shadow: none;
        border-radius: 128px; 

        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
        color: $color-muted;
        padding: 8px 20px;
    }

    .form-footer {
        max-width: 380px;
        .btn-submit {
            position: absolute;
            width: 48px;
            height: 48px;
            top: 4px;
            right: 4px;
            border-radius: 50%;
            background-color: $white;
            color: $white;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            svg {
                path {
                    transition: all 0.3s ease;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: $white;
                    }
                }
                background-color: $color-hover;
            }
        }
    }
} 