@use '../abstracts/index' as *;

/* Section
-------------------------------------------------------------- */
.section-video {
    position: relative;

    padding: 204px 0;
}

.show-tablet {
    display: none !important;
}

.why-choose-us {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 56px 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 60px;
    align-items: center;

    &.style2 {
        border-color: $border-light;
        background-color: $white;
    }

    &.style3 {
        margin-bottom: 58px;
    }
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    overflow: hidden;

    &.style-2 {
        .cta--content {
            padding-left: 0;
        }

        .cta--image {
            border-radius: 20px; 
            overflow: hidden;
        }
    }

    .cta--content {
        width: 53%;
        padding: 10px 65px 0 80px;
    }
    
    .cta--image {
        width: 47%;
        display: flex;
        height: -webkit-fill-available;
    }
}

.height-650 {
    height: 650px;
}

.height-658 {
    height: 658px;
}

.height-664 {
    height: 664px;
}

.height-840 {
    height: 840px;
}

.home-06 {
    #main-nav .menu > li > a {
        padding: 37px 0;
    }
}

.home-style-9 {
   padding: 40px;  
}

.home-style-10 {
    padding: 0 180px;   
 }

.listing-halfmap {
    padding: 41px 36px 41px 40px;
    max-height: calc(100vh - 94px);
    overflow-y: auto;

    .pagination {
        margin-top: 65px;
    }
}

.listing-topmap {
    #map {
        height: 602px;
    }

    .search-cars__filters {
        border: 2px solid $border-light;
    }

    .search-cars__filter {
        border: 1px solid $border-light;
    }
}

.search-cars__select-zip-code {
    .filter-select-dropdown {
        box-shadow: 0 0 0 1px $border-light;
        padding: 20px 26px 0 14px;

        background-image: url(./icons/chevron-down-black.svg);
        background-repeat: no-repeat;
        background-position: right 100px center;
    }

    .zip-code {
        border-left: 1px solid $border-light;
        padding-left: 12px;
        position: relative;
        min-width: fit-content;
        top: -11px;
    }
}

.listing-details {
    display: flex;
    gap: 80px;
    &--sidebar {
        width: 400px;
    }

    &--content {
        width: calc(100% - 480px);
    } 

    input {
        border-radius: 12px !important;
    }

    select {
        box-shadow: 0 0 0 1px #E7E7E7 !important;

        &.active,
        &:active,
        &:focus {
            box-shadow: 0 0 0 2px $color-hover-opacity !important; 
        }  
    }

    &--contact {
        &-dealer {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }

            &.style-2 {
                img {
                    border: 1px solid $border-light;
                }
            }

            &.style-3 {
                img {
                    width: 100px;
                    height: 100px;
                }
            } 
        }

        .contact-info {
            li {
                display: flex;
                gap: 12px;
                .icon {
                    min-width: 40px;
                    min-height: 40px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $border-light;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            
        }
    }
}

.verify {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 100px;
    background: #E64B181A;
    padding: 4px 12px;

    img {
        width: 16px;
        height: 16px;
    }
}

.listing-details--sidebar-box {
    border: 2px solid $border-light;
    border-radius: 16px;
    padding: 22px;
    .filter-checkbox span {
        padding-left: 22px;
    }

    select {
        padding: 13px 16px !important;
    }

    .core-dropdown__item {
        padding:  8px 0;

        &:not(:last-child) {
            border-bottom: 1px solid $border-light;
        }
    }
}

.financing-calculator {
    padding: 26px;
    border: 2px solid $border-light;
    border-radius: 16px;

    .financing-calculator-form {
        display: flex;
        align-items: end;
        gap: 12px;
        > div {
            width: calc(100% - 130px); 
        }
        .btn {
            min-width: 130px;
            width: 130px;
        }
    }
}

.rating-box {
    padding: 26px;
    border: 2px solid $border-light;
    border-radius: 16px;
    background-color: $white;

    &.rating-box-product-detail {
        padding: 36px 38px 40px;
 

        .rating-box__content {
            gap: 134px;

            .rating-box__distribution {
                padding-left: 14px;
            }

        }
    }

    &__content {
        display: flex;
        gap: 64px;
    }

    &__overview {
        flex-shrink: 0;
    }

    &__average {
        padding-top: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__score {
        font-size: 68px;
        line-height: 76px;
        font-weight: 600;
        color: $color-primary;
    }

    &__stars {
        display: flex;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__count {
        font-size: 14px;
        color: $color-secondary;
        margin: 0;
    }

    &__distribution {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__button  {
        display: flex;
        align-items: center;
    }

    &__bar-item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__bar-label {
        display: flex;
        gap: 6px;

        .text {
            width: 12px;
            display: flex;
        }
    }

    &__bar-wrapper {
        flex: 1;
        height: 12px;
        background-color: #E9E9E9;
        border-radius: 1px;
        overflow: hidden;
    }

    &__bar {
        height: 100%;
        background-color: $color-hover;
        border-radius: 1px;
        transition: width 0.3s ease;
    }

    &__bar-percent {
        min-width: 38px;
    } 
}


.comment-box {
    

    &.border-none {
        border-bottom: none;
    }
    &__header {
        display: flex;
        align-items: center;
        gap: 20px; 

        &.gap-12 {
            gap: 12px;
        }
    }

    &.style2 {
        border: none;
        padding-bottom: 0;
        margin-bottom: 26px;
        .comment-box__header {
            align-items: start !important;
        }

        &:last-child {
            margin-bottom: 0; 
        }
    }

    &__avatar {
        min-width: 60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

        &.guest {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $border-light;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        }
    }

    padding-bottom: 19px;
    border-bottom: 1px solid $border-light;
    margin-bottom: 28px;
}

.add-review-form {
    textarea {
        height: 100px;
        padding: 16px;
        border-radius: 12px;
    }
}

.send-inquiry {
    textarea {
        height: 100px;
        padding: 10px 16px;
        border-radius: 12px;
    }
}

.rating-input {
    &__stars {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &.rating-input-style2 {
        .rating-input__stars {
            gap: 0;
        }
        .rating-input__star .star-icon {
            width: 40px;
            height: 40px;
        }
    }

    &__star {
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        .star-icon {
            width: 20px;
            height: 20px;
        }
    }
}

.car-overview-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));

    > li {
        border-radius: 8px;
        border: 1px solid $border-light;
        padding: 20px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 32px;
            height: 32px;
            margin-bottom: 12px;
        }
    }
}

.car-overview-list-style2 {
    > li {
        padding-top: 12px;
        &:not(:last-child) {
            padding-bottom: 12px;
            border-bottom: 1px solid $border-light;
        }
    }
}

.car-overview-list-style3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    > li {
        border-radius: 12px;
        border: 1px solid $border-light;
        padding: 20px 16px 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }
    }
}

.car-overview-list-style4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    > li {
        gap: 16px;
        border-radius: 12px;
        border: 1px solid $border-light;
        padding: 19px 4px 19px 20px;
        display: flex;
        img {
            width: 48px;
            height: 48px;
        }

        > p {
            display: flex;
            flex-direction: column;
        }
    }
}


.w-16 {
    width: 16px;
}

.w-80 {
    width: 80px;
}

.w-100 {
    width: 100px;
}

.h-16 {
    height: 16px;
}

.h-24 {
    height: 24px;
}


.max-w-1440 {
    max-width: 1440px;
}

.max-w-1840 {
    max-width: 1840px;
}

.max-w-1920 {
    max-width: 1920px;
}

.max-w-1600 {
    max-width: 1600px;
}

.max-w-1170 {
    max-width: 1170px;
}

.max-w-850 {
    max-width: 850px;
}