@use '../abstracts/index' as *;

.product {
    background-color: $white;
    border-radius: 20px;

    .product-top {
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        height: 330px;

        .img {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .product-add-to-cart {
        width: calc(100% - 32px);
        background-color: $color-primary;
        border-radius: 8px;
        position: absolute;
        bottom: -20px;
        left: 16px;
        z-index: 1;
        height: 40px;
        font-weight: 600;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background-color: $color-hover;
        }
    }

    .promotion {
        position: absolute;
        top: 16px;
        left: 16px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        border-radius: 100px;
        z-index: 3;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
    }

    .actions {
        @include transition(all, 0.3s, ease);
        position: absolute;
        top: 16px;
        right: -20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 8px;
        opacity: 0;
        visibility: hidden;
    }

    .action {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-light;
        background-color: $white;
        border-radius: 50%;
        @include transition(all, 0.3s, ease);
        cursor: pointer;
        &:hover {
            background-color: $color-primary;
            border-color: $color-primary;
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    .price {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &.active,
    &:hover {
        .product-add-to-cart {
            opacity: 1;
            visibility: visible;
            bottom: 16px;
        }

        .actions {
            right: 16px;
            opacity: 1;
            visibility: visible;
        }
    }
}

.price-old {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: $color-secondary;  
    color: $color-secondary;
}

.sale-box {
    padding: 0 8px;
    border-radius: 100px;
    font-weight: 600;
    background-color: $color-primary;
}